nodered_flows/flows_raspberrypi.json
[{"id":"328cb8d0.ad53d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6281129e.20416c","type":"tab","label":"Events to Dashboard and SQL","disabled":false,"info":""},{"id":"695a7397.e7f69c","type":"tab","label":"Mobidostat Log","disabled":false,"info":""},{"id":"3e25151c.03c59a","type":"tab","label":"Execute actions","disabled":false,"info":""},{"id":"fcaff9ec.23d2d8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4caffaf.e1b82","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ceae21","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#ceae21","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#e4ca57","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ceae21","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fddb7738.704208","type":"mqtt-broker","z":"","name":"measurements","broker":"http://192.168.0.15/","port":"1883","clientid":"python_pub","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9eb43060.5c675","type":"mqtt-broker","z":"","name":"python_pub","broker":"192.168.0.15","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b4a1f87.f6076","type":"sqlitedb","z":"","db":"/home/pi/db/measurements.db","mode":"RW"},{"id":"9624a1e1.5053a","type":"mqtt-broker","z":"","name":"morbidostat","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f8d74df.65e0e8","type":"ui_tab","z":"","name":"Morbidostat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fc35e492.275948","type":"ui_group","z":"","name":"Activity","tab":"8f8d74df.65e0e8","order":1,"disp":true,"width":"20","collapse":false},{"id":"50572b33.5fd434","type":"sqlitedb","z":"","db":"/home/pi/db/morbidostat.sql","mode":"RWC"},{"id":"bb8dfd70.36d84","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":2,"width":8,"height":1},{"id":"3e2c65d8.4ea99a","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":4,"width":5,"height":1},{"id":"1bcd573d.bd4d59","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":6,"width":1,"height":1},{"id":"d0c12bea.6f56b8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":8,"width":1,"height":1},{"id":"51fe39d.22d60c8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":9,"width":1,"height":1},{"id":"29f4c9f9.2ae1f6","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":10,"width":1,"height":1},{"id":"f63259.39264da8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":11,"width":1,"height":1},{"id":"294e0401.70883c","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":12,"width":1,"height":1},{"id":"43eb24d5.62218c","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":15,"width":4,"height":1},{"id":"98ceb9e5.3e8a28","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":16,"width":4,"height":1},{"id":"840d2cbe.cdab4","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":17,"width":12,"height":1},{"id":"373f8858.c0e708","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":18,"width":12,"height":1},{"id":"9074dc46.fbcd9","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":21,"width":14,"height":1},{"id":"e064c4c9.ed0b18","type":"mqtt in","z":"328cb8d0.ad53d8","name":"Temperature from DHT22","topic":"dht22/temperature","qos":"0","datatype":"utf8","broker":"9eb43060.5c675","x":110,"y":140,"wires":[["3a09f729.d9ec78","5113c812.f7dc28"]]},{"id":"3a09f729.d9ec78","type":"ui_chart","z":"328cb8d0.ad53d8","name":"Temperature Chart","group":"fcaff9ec.23d2d8","order":0,"width":0,"height":0,"label":"Temperature from DHT22","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":140,"wires":[[]]},{"id":"1d527ee7.166cd1","type":"mqtt in","z":"328cb8d0.ad53d8","name":"Humidity from DHT22","topic":"dht22/humidity","qos":"0","datatype":"utf8","broker":"9eb43060.5c675","x":100,"y":320,"wires":[["8bd609ea.614998","2d39e10d.f0789e"]]},{"id":"8bd609ea.614998","type":"ui_chart","z":"328cb8d0.ad53d8","name":"Humidity Chart","group":"fcaff9ec.23d2d8","order":0,"width":0,"height":0,"label":"Humidity from DHT22","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":320,"wires":[[]]},{"id":"36c9e1e6.bc1bde","type":"sqlite","z":"328cb8d0.ad53d8","mydb":"1b4a1f87.f6076","sqlquery":"msg.topic","sql":"","name":"TemperatureWrite","x":910,"y":260,"wires":[[]]},{"id":"370d3feb.4dc36","type":"template","z":"328cb8d0.ad53d8","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO temperature_readings (temperature, experiment_tag, source, timestamp)\nVALUES ({{payload}}, \"{{{experiment_tag}}}\", \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":660,"y":260,"wires":[["36c9e1e6.bc1bde"]]},{"id":"5113c812.f7dc28","type":"moment","z":"328cb8d0.ad53d8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":380,"y":200,"wires":[["e139c8e9.a4ee98"]]},{"id":"2d39e10d.f0789e","type":"moment","z":"328cb8d0.ad53d8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":380,"y":380,"wires":[["20228af1.de8786"]]},{"id":"89c50e93.8795","type":"template","z":"328cb8d0.ad53d8","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO humidity_readings (humidity, experiment_tag, source, timestamp)\nVALUES ({{payload}}, \"{{{experiment_tag}}}\", \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":660,"y":440,"wires":[["cd7a58d3.404fc8"]]},{"id":"cd7a58d3.404fc8","type":"sqlite","z":"328cb8d0.ad53d8","mydb":"1b4a1f87.f6076","sqlquery":"msg.topic","sql":"","name":"HumidityWrite","x":900,"y":440,"wires":[[]]},{"id":"e139c8e9.a4ee98","type":"change","z":"328cb8d0.ad53d8","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["370d3feb.4dc36"]]},{"id":"3aeb342c.c1d9cc","type":"ui_text_input","z":"328cb8d0.ad53d8","name":"","label":"Experiment Tag","tooltip":"The path of the Notions page","group":"fcaff9ec.23d2d8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":60,"wires":[["240b689e.bb7838"]]},{"id":"240b689e.bb7838","type":"change","z":"328cb8d0.ad53d8","name":"Set flow.experiment_tag from UI","rules":[{"t":"set","p":"experiment_tag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"20228af1.de8786","type":"change","z":"328cb8d0.ad53d8","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[["89c50e93.8795"]]},{"id":"a6c5c576.752568","type":"camerapi-takephoto","z":"328cb8d0.ad53d8","filemode":"1","filename":"current.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take photo","x":310,"y":540,"wires":[["542e34f2.65579c"]]},{"id":"542e34f2.65579c","type":"ui_template","z":"328cb8d0.ad53d8","group":"fcaff9ec.23d2d8","name":"","order":3,"width":0,"height":0,"format":"<img src= \"http://192.168.0.15:1880/current.jpg\" alt='Image not found'  />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":540,"wires":[[]]},{"id":"b962a586.f7c278","type":"inject","z":"328cb8d0.ad53d8","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["a6c5c576.752568"]]},{"id":"28e83097.3a18a","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/IR1_low_pass","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":130,"y":120,"wires":[["e56e472a.05d308","3892e0a1.9459a"]]},{"id":"e56e472a.05d308","type":"ui_chart","z":"6281129e.20416c","name":"","group":"fc35e492.275948","order":5,"width":11,"height":6,"label":"Reading from OD detector (voltage)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":220,"wires":[[]]},{"id":"c6518af4.2eb9f8","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/IR1_raw","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":120,"y":180,"wires":[["e56e472a.05d308","c036ea43.944008"]]},{"id":"31a7020d.ed58de","type":"ui_button","z":"6281129e.20416c","name":"","group":"fc35e492.275948","order":20,"width":3,"height":1,"passthru":false,"label":"Clear chart data","tooltip":"Clear all data from charts","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":620,"y":120,"wires":[["e56e472a.05d308"]]},{"id":"5ced0c00.7d9cc4","type":"inject","z":"6281129e.20416c","name":"Clear","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":80,"wires":[["e56e472a.05d308"]]},{"id":"c036ea43.944008","type":"moment","z":"6281129e.20416c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":400,"y":400,"wires":[["41b1cbb.834b434"]]},{"id":"62ec2e3e.87036","type":"template","z":"6281129e.20416c","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO ir_readings_raw (reading_v, source, timestamp)\nVALUES ({{payload}}, \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":820,"y":400,"wires":[["b8cbbacc.5b2078"]]},{"id":"b8cbbacc.5b2078","type":"sqlite","z":"6281129e.20416c","mydb":"50572b33.5fd434","sqlquery":"msg.topic","sql":"","name":"Write","x":1030,"y":420,"wires":[[]]},{"id":"3892e0a1.9459a","type":"moment","z":"6281129e.20416c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":400,"y":340,"wires":[["72341458.66cd9c"]]},{"id":"c7d577ba.4ef128","type":"template","z":"6281129e.20416c","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO ir_readings_filtered (reading_v, source, timestamp)\nVALUES ({{payload}}, \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":820,"y":340,"wires":[["b8cbbacc.5b2078"]]},{"id":"508b4770.a8b398","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/io_events","qos":"2","datatype":"json","broker":"9624a1e1.5053a","x":120,"y":240,"wires":[["ed98949a.29ed88"]]},{"id":"943110ac.05e8c","type":"template","z":"695a7397.e7f69c","name":"html table","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\" style=\"border: 1px solid blue\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"2\">{{topic}}</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th style=\"border: 1px solid black\">timestamp</th>\n        <th style=\"border: 1px solid black\">message</th>\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td style=\"border: 1px solid black\">{{timestamp}}</td>            \n            <td style=\"border: 1px solid black\">{{message}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":780,"y":360,"wires":[["b39493ad.41c14"]]},{"id":"b39493ad.41c14","type":"ui_template","z":"695a7397.e7f69c","group":"fc35e492.275948","name":"Scrolling Messages","order":7,"width":8,"height":10,"format":"<style>\n\ntable {\n  border-collapse: collapse;\n}\n\ntable, th, td {\n  border: 1px solid black;\n  padding: 6px;\n  font-size: small;\n}   \n</style>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":970,"y":360,"wires":[[]]},{"id":"4a8d9adb.0586a4","type":"function","z":"695a7397.e7f69c","name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["dfdf9fb8.a1bf3"]]},{"id":"d4f4ddef.dac0a","type":"function","z":"695a7397.e7f69c","name":"topic & 10","func":"var arr = msg.payload ;\n\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 20);    \n    msg.topic = 'Event Log';\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["943110ac.05e8c"]]},{"id":"34f6c3b2.96e4ec","type":"mqtt in","z":"695a7397.e7f69c","name":"","topic":"morbidostat/log","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":120,"y":120,"wires":[["6b361832.67bb28"]]},{"id":"6b361832.67bb28","type":"moment","z":"695a7397.e7f69c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":220,"y":180,"wires":[["f3fdadcc.e5a12"]]},{"id":"f3fdadcc.e5a12","type":"function","z":"695a7397.e7f69c","name":"TransformMsgToJson","func":"payload = msg.payload\ntime = msg.timestamp\nnew_payload = {\"message\": payload, \"timestamp\": time}\nmsg.payload = new_payload\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["4a8d9adb.0586a4"]]},{"id":"dfdf9fb8.a1bf3","type":"change","z":"695a7397.e7f69c","name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":300,"wires":[["d4f4ddef.dac0a"]]},{"id":"ed98949a.29ed88","type":"moment","z":"6281129e.20416c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":400,"y":460,"wires":[["49480e75.08d76"]]},{"id":"b0082dae.93a5d","type":"template","z":"6281129e.20416c","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO io_events (experiment, event, volume_change_ml, morbidostat_unit, timestamp)\nVALUES (\"{{experiment_tag}}\", \"{{payload.event}}\", {{payload.volume_change}},  \"A\", \"{{timestamp}}\");","output":"str","x":820,"y":460,"wires":[["b8cbbacc.5b2078"]]},{"id":"49480e75.08d76","type":"change","z":"6281129e.20416c","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["b0082dae.93a5d"]]},{"id":"f4ec0120.51dcf","type":"ui_text_input","z":"6281129e.20416c","name":"","label":"Experiment Tag","tooltip":"The path of the Notions page","group":"fc35e492.275948","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":100,"y":20,"wires":[["f4018941.e7c618"]]},{"id":"f4018941.e7c618","type":"change","z":"6281129e.20416c","name":"Set flow.experiment_tag from UI","rules":[{"t":"set","p":"experiment_tag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":20,"wires":[[]]},{"id":"41b1cbb.834b434","type":"change","z":"6281129e.20416c","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":400,"wires":[["62ec2e3e.87036"]]},{"id":"72341458.66cd9c","type":"change","z":"6281129e.20416c","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["c7d577ba.4ef128"]]},{"id":"74fb1a7.4dd97e4","type":"exec","z":"3e25151c.03c59a","command":"cd ~/morbidostat && python3 -m morbidostat.actions.add_media","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":80,"wires":[[],[],[]]},{"id":"dad7ddbe.77f","type":"ui_form","z":"3e25151c.03c59a","name":"","label":"","group":"fc35e492.275948","order":14,"width":4,"height":2,"options":[{"label":"Add media (mL)","value":"add_media","type":"number","required":false,"rows":null}],"formValue":{"add_media":""},"payload":"","submit":"submit","cancel":"","topic":"","x":90,"y":80,"wires":[["fc915767.c3a448"]]},{"id":"fc915767.c3a448","type":"function","z":"3e25151c.03c59a","name":"extract add_media","func":"payload = msg.payload\nmsg.payload = payload['add_media']\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["74fb1a7.4dd97e4"]]},{"id":"263922ad.6f9a3e","type":"ui_form","z":"3e25151c.03c59a","name":"","label":"","group":"fc35e492.275948","order":13,"width":4,"height":2,"options":[{"label":"Remove waste (mL)","value":"remove_waste","type":"number","required":false,"rows":null}],"formValue":{"remove_waste":""},"payload":"","submit":"submit","cancel":"","topic":"","x":90,"y":160,"wires":[["3e1d3bd4.001ab4"]]},{"id":"f1bb697c.676ca8","type":"exec","z":"3e25151c.03c59a","command":"cd ~/morbidostat && python3 -m morbidostat.actions.remove_waste","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":670,"y":160,"wires":[[],[],[]]},{"id":"3e1d3bd4.001ab4","type":"function","z":"3e25151c.03c59a","name":"extract add_media","func":"payload = msg.payload\nmsg.payload = payload['remove_waste']\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["f1bb697c.676ca8"]]},{"id":"29037d14.b8ab12","type":"ui_button","z":"695a7397.e7f69c","name":"","group":"fc35e492.275948","order":19,"width":3,"height":1,"passthru":false,"label":"Clear log table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":420,"wires":[["5a32923d.93350c"]]},{"id":"5a32923d.93350c","type":"change","z":"695a7397.e7f69c","name":"","rules":[{"t":"delete","p":"msg_events","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["943110ac.05e8c"]]},{"id":"4ba0decb.baccb","type":"ui_button","z":"695a7397.e7f69c","name":"","group":"fc35e492.275948","order":3,"width":3,"height":1,"passthru":false,"label":"Show log table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":380,"wires":[["4a8d9adb.0586a4"]]}]