nodered_flows/flows_leader.json
[{"id":"6281129e.20416c","type":"tab","label":"Morbidostat Events to Dashboard ","disabled":false,"info":""},{"id":"c23d6903.71c198","type":"tab","label":"Morbidostat Events to SQL","disabled":false,"info":""},{"id":"695a7397.e7f69c","type":"tab","label":"Mobidostat Log","disabled":false,"info":""},{"id":"3e25151c.03c59a","type":"tab","label":"Morbidostat Execute actions","disabled":false,"info":""},{"id":"49469ab2.4ce864","type":"tab","label":"DB Exports","disabled":false,"info":""},{"id":"328cb8d0.ad53d8","type":"tab","label":"Incubator","disabled":false,"info":""},{"id":"fcaff9ec.23d2d8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4caffaf.e1b82","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ceae21","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#ceae21","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#e4ca57","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ceae21","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fddb7738.704208","type":"mqtt-broker","z":"","name":"measurements","broker":"http://192.168.0.15/","port":"1883","clientid":"python_pub","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9eb43060.5c675","type":"mqtt-broker","z":"","name":"python_pub","broker":"192.168.0.15","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1b4a1f87.f6076","type":"sqlitedb","z":"","db":"/home/pi/db/measurements.db","mode":"RW"},{"id":"9624a1e1.5053a","type":"mqtt-broker","z":"","name":"morbidostat","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f8d74df.65e0e8","type":"ui_tab","z":"","name":"Morbidostat","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fc35e492.275948","type":"ui_group","z":"","name":"Test","tab":"","order":1,"disp":true,"width":"20","collapse":false},{"id":"50572b33.5fd434","type":"sqlitedb","z":"","db":"/home/pi/db/morbidostat.sql","mode":"RWC"},{"id":"bb8dfd70.36d84","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":2,"width":8,"height":1},{"id":"3e2c65d8.4ea99a","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":4,"width":5,"height":1},{"id":"1bcd573d.bd4d59","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":6,"width":1,"height":1},{"id":"d0c12bea.6f56b8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":8,"width":1,"height":1},{"id":"51fe39d.22d60c8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":9,"width":1,"height":1},{"id":"29f4c9f9.2ae1f6","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":10,"width":1,"height":1},{"id":"f63259.39264da8","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":11,"width":1,"height":1},{"id":"294e0401.70883c","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":12,"width":1,"height":1},{"id":"43eb24d5.62218c","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":15,"width":4,"height":1},{"id":"98ceb9e5.3e8a28","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":16,"width":4,"height":1},{"id":"840d2cbe.cdab4","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":17,"width":12,"height":1},{"id":"373f8858.c0e708","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":18,"width":12,"height":1},{"id":"9074dc46.fbcd9","type":"ui_spacer","name":"spacer","group":"fc35e492.275948","order":21,"width":14,"height":1},{"id":"3e85cfd0.1f7dc","type":"ui_tab","z":"","name":"Incubator","icon":"dashboard","disabled":false,"hidden":false},{"id":"987fcc6.9cc4c3","type":"ui_group","z":"","name":"Default","tab":"3e85cfd0.1f7dc","order":1,"disp":true,"width":22,"collapse":false},{"id":"cf0dc4ea.c2e4d8","type":"ui_group","z":"","name":"Default","tab":"8f8d74df.65e0e8","order":1,"disp":true,"width":26,"collapse":false},{"id":"9e28d220.caf5d","type":"ui_spacer","name":"spacer","group":"987fcc6.9cc4c3","order":2,"width":14,"height":1},{"id":"3e36b2ec.f67bfe","type":"ui_spacer","name":"spacer","group":"987fcc6.9cc4c3","order":6,"width":10,"height":1},{"id":"24f15a3f.001f06","type":"ui_group","z":"","name":"Data Export","tab":"","order":1,"disp":true,"width":"12"},{"id":"10edbe5f.b760f2","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":2,"width":22,"height":1},{"id":"30c79bd9.6e91b4","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":6,"width":7,"height":1},{"id":"47dd6ad0.a6e134","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":12,"width":6,"height":1},{"id":"1d49b6d5.89aef9","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":15,"width":1,"height":1},{"id":"d754311b.aa2c6","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":16,"width":10,"height":1},{"id":"2896a5c5.edf7ba","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":17,"width":10,"height":1},{"id":"3fecf581.1c506a","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":18,"width":1,"height":1},{"id":"85786124.7efd4","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":20,"width":4,"height":1},{"id":"90329255.bc84a","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":24,"width":5,"height":1},{"id":"6bcab6fd.94d358","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":27,"width":3,"height":1},{"id":"aaae08a3.01f5c8","type":"ui_spacer","name":"spacer","group":"cf0dc4ea.c2e4d8","order":28,"width":14,"height":1},{"id":"e064c4c9.ed0b18","type":"mqtt in","z":"328cb8d0.ad53d8","name":"Temperature inside incubator","topic":"incubator/1/temperature","qos":"0","datatype":"utf8","broker":"9624a1e1.5053a","x":140,"y":140,"wires":[["5113c812.f7dc28","42863b1d.903e14"]]},{"id":"3a09f729.d9ec78","type":"ui_chart","z":"328cb8d0.ad53d8","name":"Temperature Chart","group":"987fcc6.9cc4c3","order":5,"width":10,"height":3,"label":"Temperature inside incubator","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"8000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":140,"wires":[[]]},{"id":"1d527ee7.166cd1","type":"mqtt in","z":"328cb8d0.ad53d8","name":"Humidity","topic":"incubator/1/humidity","qos":"0","datatype":"utf8","broker":"9624a1e1.5053a","x":80,"y":320,"wires":[["2d39e10d.f0789e","186d2b0d.95b2d5"]]},{"id":"8bd609ea.614998","type":"ui_chart","z":"328cb8d0.ad53d8","name":"Humidity Chart","group":"987fcc6.9cc4c3","order":3,"width":10,"height":3,"label":"Humidity inside incubator","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"8000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":320,"wires":[[]]},{"id":"36c9e1e6.bc1bde","type":"sqlite","z":"328cb8d0.ad53d8","mydb":"1b4a1f87.f6076","sqlquery":"msg.topic","sql":"","name":"TemperatureWrite","x":910,"y":260,"wires":[[]]},{"id":"370d3feb.4dc36","type":"template","z":"328cb8d0.ad53d8","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO temperature_readings (temperature, experiment_tag, source, timestamp)\nVALUES ({{payload}}, \"{{{experiment_tag}}}\", \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":660,"y":260,"wires":[["36c9e1e6.bc1bde"]]},{"id":"5113c812.f7dc28","type":"moment","z":"328cb8d0.ad53d8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":400,"y":200,"wires":[["e139c8e9.a4ee98"]]},{"id":"2d39e10d.f0789e","type":"moment","z":"328cb8d0.ad53d8","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":400,"y":380,"wires":[["20228af1.de8786"]]},{"id":"89c50e93.8795","type":"template","z":"328cb8d0.ad53d8","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO humidity_readings (humidity, experiment_tag, source, timestamp)\nVALUES ({{payload}}, \"{{{experiment_tag}}}\", \"{{{topic}}}\", \"{{timestamp}}\");","output":"str","x":660,"y":440,"wires":[["cd7a58d3.404fc8"]]},{"id":"cd7a58d3.404fc8","type":"sqlite","z":"328cb8d0.ad53d8","mydb":"1b4a1f87.f6076","sqlquery":"msg.topic","sql":"","name":"HumidityWrite","x":900,"y":440,"wires":[[]]},{"id":"e139c8e9.a4ee98","type":"change","z":"328cb8d0.ad53d8","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":260,"wires":[["370d3feb.4dc36"]]},{"id":"3aeb342c.c1d9cc","type":"ui_text_input","z":"328cb8d0.ad53d8","name":"","label":"Experiment Tag","tooltip":"The path of the Notions page","group":"987fcc6.9cc4c3","order":1,"width":8,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":100,"y":60,"wires":[["240b689e.bb7838"]]},{"id":"240b689e.bb7838","type":"change","z":"328cb8d0.ad53d8","name":"Set flow.experiment_tag from UI","rules":[{"t":"set","p":"experiment_tag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"20228af1.de8786","type":"change","z":"328cb8d0.ad53d8","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":440,"wires":[["89c50e93.8795"]]},{"id":"28e83097.3a18a","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/od_filtered/135","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":140,"y":100,"wires":[["791e8fc7.40f0e"]]},{"id":"e56e472a.05d308","type":"ui_chart","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":3,"width":8,"height":4,"label":"Raw OD 135째 (volts)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"13000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":220,"wires":[[]]},{"id":"c6518af4.2eb9f8","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/od_raw/135","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":130,"y":220,"wires":[["3d145891.215768"]]},{"id":"31a7020d.ed58de","type":"ui_button","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":25,"width":3,"height":1,"passthru":false,"label":"Clear chart data","tooltip":"Clear all data from charts","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":400,"y":40,"wires":[["e56e472a.05d308","f18bf9d3.230de8","dd9e621b.f7274","a2459c24.1359c","35d6544c.14d50c","6e0ed329.e2874c"]]},{"id":"943110ac.05e8c","type":"template","z":"695a7397.e7f69c","name":"html table","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<table border=\"1\" style=\"border: 1px solid blue\">\n    \n    \n    <thead>\n        <tr>\n            <th colspan=\"3\">Event log</th>\n        </tr>\n    </thead>\n    \n    \n    <tr>\n        <th style=\"border: 1px solid black\">timestamp</th>\n        <th style=\"border: 1px solid black\">message</th>\n        <th style=\"border: 1px solid black\">source</th>\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td style=\"border: 1px solid black\">{{timestamp}}</td>            \n            <td style=\"border: 1px solid black\">{{message}}</td>\n            <td style=\"border: 1px solid black\">{{topic}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":980,"y":340,"wires":[["b39493ad.41c14"]]},{"id":"b39493ad.41c14","type":"ui_template","z":"695a7397.e7f69c","group":"cf0dc4ea.c2e4d8","name":"Scrolling Messages","order":7,"width":10,"height":12,"format":"<style>\n\ntable {\n  border-collapse: collapse;\n}\n\ntable, th, td {\n  border: 1px solid black;\n  padding: 6px;\n  font-size: small;\n}   \n</style>\n<div ng-bind-html=\"msg.payload\" height=\"500\" style=\"height: 350px;\"></div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1170,"y":340,"wires":[[]]},{"id":"4a8d9adb.0586a4","type":"function","z":"695a7397.e7f69c","name":"Cr/Upd msg_events","func":"var msg_obj       = msg.payload ;\nvar arr_msgs = flow.get(\"msg_events\", 'memoryOnly');\n\nif (arr_msgs===undefined ) {\n    // Create an empty array if it does not exist yet\n    arr_msgs = [];\n    //arr_msgs.push(msg_obj) ; \n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n    \n//    return msg ;\n\n} else {\n        // This is a new user, save and return in the first port\n        if (msg_obj !== \"1\") {\n            arr_msgs.push(msg_obj);\n            flow.set(\"msg_events\",arr_msgs, 'memoryOnly');\n        }\n} \nmsg.payload = flow.get(\"msg_events\", 'memoryOnly');\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":280,"wires":[["dfdf9fb8.a1bf3"]]},{"id":"d4f4ddef.dac0a","type":"function","z":"695a7397.e7f69c","name":"topic & 30","func":"var arr = msg.payload ;\n\nif(typeof arr === undefined) {\n    return ;\n} else {\n    msg.payload = arr.slice(0, 30);    \n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["943110ac.05e8c"]]},{"id":"34f6c3b2.96e4ec","type":"mqtt in","z":"695a7397.e7f69c","name":"","topic":"morbidostat/+/log","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":110,"y":100,"wires":[["6b361832.67bb28"]]},{"id":"6b361832.67bb28","type":"moment","z":"695a7397.e7f69c","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM D HH:mm:ss.SSS","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"america/toronto","x":420,"y":160,"wires":[["f3fdadcc.e5a12"]]},{"id":"f3fdadcc.e5a12","type":"function","z":"695a7397.e7f69c","name":"TransformMsgToJson","func":"payload = msg.payload\ntime = msg.timestamp\nnew_payload = {\"message\": payload, \"timestamp\": time, \"topic\": msg.topic}\nmsg.payload = new_payload\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["4a8d9adb.0586a4"]]},{"id":"dfdf9fb8.a1bf3","type":"change","z":"695a7397.e7f69c","name":"sort","rules":[{"t":"set","p":"payload","pt":"msg","to":"($sort(payload,function($l , $r){$l.timestamp < $r.timestamp }) )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":280,"wires":[["d4f4ddef.dac0a"]]},{"id":"74fb1a7.4dd97e4","type":"exec","z":"3e25151c.03c59a","command":"cd ~/morbidostat && python3 -m morbidostat.actions.add_media","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":640,"y":100,"wires":[[],[],[]]},{"id":"dad7ddbe.77f","type":"ui_form","z":"3e25151c.03c59a","name":"","label":"","group":"cf0dc4ea.c2e4d8","order":21,"width":4,"height":2,"options":[{"label":"Add media (mL)","value":"add_media","type":"number","required":false,"rows":null}],"formValue":{"add_media":""},"payload":"","submit":"Add media","cancel":"","topic":"","x":90,"y":100,"wires":[["fc915767.c3a448"]]},{"id":"fc915767.c3a448","type":"function","z":"3e25151c.03c59a","name":"extract add_media","func":"payload = msg.payload\nmsg.payload = payload['add_media']\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["74fb1a7.4dd97e4"]]},{"id":"263922ad.6f9a3e","type":"ui_form","z":"3e25151c.03c59a","name":"","label":"","group":"cf0dc4ea.c2e4d8","order":23,"width":4,"height":2,"options":[{"label":"Remove waste (mL)","value":"remove_waste","type":"number","required":false,"rows":null}],"formValue":{"remove_waste":""},"payload":"","submit":"Remove waste","cancel":"","topic":"","x":90,"y":160,"wires":[["3e1d3bd4.001ab4"]]},{"id":"f1bb697c.676ca8","type":"exec","z":"3e25151c.03c59a","command":"cd ~/morbidostat && python3 -m morbidostat.actions.remove_waste","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":160,"wires":[[],[],[]]},{"id":"3e1d3bd4.001ab4","type":"function","z":"3e25151c.03c59a","name":"extract remove_waste","func":"payload = msg.payload\nmsg.payload = payload['remove_waste']\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["f1bb697c.676ca8"]]},{"id":"29037d14.b8ab12","type":"ui_button","z":"695a7397.e7f69c","name":"","group":"cf0dc4ea.c2e4d8","order":26,"width":3,"height":1,"passthru":false,"label":"Clear log table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":400,"wires":[["5a32923d.93350c"]]},{"id":"5a32923d.93350c","type":"change","z":"695a7397.e7f69c","name":"","rules":[{"t":"delete","p":"msg_events","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["943110ac.05e8c"]]},{"id":"4ba0decb.baccb","type":"ui_button","z":"695a7397.e7f69c","name":"","group":"cf0dc4ea.c2e4d8","order":5,"width":3,"height":1,"passthru":false,"label":"Show log table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":340,"y":360,"wires":[["4a8d9adb.0586a4"]]},{"id":"2519af9c.e637f","type":"mqtt in","z":"328cb8d0.ad53d8","name":"","topic":"incubator/1/camera","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":110,"y":520,"wires":[["feccad3a.ce17b"]]},{"id":"feccad3a.ce17b","type":"base64","z":"328cb8d0.ad53d8","name":"","action":"","property":"payload","x":280,"y":520,"wires":[["4595b73e.d6bc38"]]},{"id":"4595b73e.d6bc38","type":"ui_template","z":"328cb8d0.ad53d8","group":"987fcc6.9cc4c3","name":"","order":4,"width":12,"height":7,"format":"<img src=\"data:image/png;base64,{{msg.payload}}\"></img>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":440,"y":520,"wires":[[]]},{"id":"80cf1de0.f095b","type":"mqtt in","z":"695a7397.e7f69c","name":"","topic":"morbidostat/+/error_log","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":120,"y":40,"wires":[["6b361832.67bb28"]]},{"id":"38544fe9.47b39","type":"ui_button","z":"3e25151c.03c59a","name":"","group":"cf0dc4ea.c2e4d8","order":19,"width":5,"height":1,"passthru":false,"label":"Kill all Python processes","tooltip":"pkill -9 python","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":150,"y":400,"wires":[["e80331ea.18c9e"]]},{"id":"e80331ea.18c9e","type":"exec","z":"3e25151c.03c59a","command":"pkill -9 python","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":400,"wires":[[],[],[]]},{"id":"5f869dbd.a37074","type":"exec","z":"3e25151c.03c59a","command":"cd ~/morbidostat && python3 -m morbidostat.actions.add_alt_media","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":220,"wires":[[],[],[]]},{"id":"5a3e42e7.cbfeac","type":"function","z":"3e25151c.03c59a","name":"extract add_alt_media","func":"payload = msg.payload\nmsg.payload = payload['add_alt_media']\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["5f869dbd.a37074"]]},{"id":"100540a.7012dbf","type":"ui_form","z":"3e25151c.03c59a","name":"","label":"","group":"cf0dc4ea.c2e4d8","order":22,"width":4,"height":2,"options":[{"label":"Add alt media (mL)","value":"add_alt_media","type":"number","required":false,"rows":null}],"formValue":{"add_alt_media":""},"payload":"","submit":"Add alt media","cancel":"","topic":"","x":90,"y":220,"wires":[["5a3e42e7.cbfeac"]]},{"id":"bdffff85.f1e01","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/growth_rate","qos":"2","datatype":"json","broker":"9624a1e1.5053a","x":130,"y":380,"wires":[["ccaf2769.8f18d8"]]},{"id":"f18bf9d3.230de8","type":"ui_chart","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":10,"width":16,"height":5,"label":"Implied Growth Rate","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"Waiting for data...","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"13000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":380,"wires":[[]]},{"id":"791e8fc7.40f0e","type":"delay","z":"6281129e.20416c","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":100,"wires":[["dd9e621b.f7274"]]},{"id":"dd9e621b.f7274","type":"ui_chart","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":8,"width":8,"height":5,"label":"Implied OD 135째 (volts)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"13000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"cb985616.b5d338","type":"function","z":"49469ab2.4ce864","name":"Set base path","func":"//restrict to c:\\temp\\\nvar basePath = \"/home/pi/db/\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"x":260,"y":140,"wires":[["9ad40e8b.84127"],["14c34477.d0f52c"]]},{"id":"14c34477.d0f52c","type":"http response","z":"49469ab2.4ce864","name":"","statusCode":"","headers":{},"x":610,"y":180,"wires":[]},{"id":"9ad40e8b.84127","type":"file in","z":"49469ab2.4ce864","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":450,"y":120,"wires":[["14c34477.d0f52c"]]},{"id":"2a0b5749.0ea9d8","type":"catch","z":"49469ab2.4ce864","name":"","scope":null,"uncaught":false,"x":80,"y":220,"wires":[["3e462b1d.f40f44","e77dc35.66dcb4"]]},{"id":"3e462b1d.f40f44","type":"function","z":"49469ab2.4ce864","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["14c34477.d0f52c"]]},{"id":"e77dc35.66dcb4","type":"debug","z":"49469ab2.4ce864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":110,"y":260,"wires":[]},{"id":"566c58cd.650398","type":"ui_template","z":"49469ab2.4ce864","group":"cf0dc4ea.c2e4d8","name":"ui_template - present download links on dashboard","order":14,"width":9,"height":1,"format":"<div >\n    <a href=\"/files/od_readings_raw.dump.gz\">Download od_readings export</a></br>\n    <a href=\"/files/io_events.dump.gz\">Download io_events export</a>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":210,"y":320,"wires":[[]]},{"id":"6fda8670.128288","type":"comment","z":"49469ab2.4ce864","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":300,"y":80,"wires":[]},{"id":"a3875334.bf9b5","type":"http in","z":"49469ab2.4ce864","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["cb985616.b5d338"]]},{"id":"8784e922.8dc1e8","type":"exec","z":"49469ab2.4ce864","command":"sqlite3 /home/pi/db/morbidostat.sql \".dump 'od_readings_raw'\" | gzip -c > /home/pi/db/od_readings_raw.dump.gz","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Dump od_readings_raw","x":430,"y":420,"wires":[["1e299f62.aa4cd1"],["1e299f62.aa4cd1"],["1e299f62.aa4cd1"]]},{"id":"1e299f62.aa4cd1","type":"debug","z":"49469ab2.4ce864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":420,"wires":[]},{"id":"1c503abf.6e53c5","type":"inject","z":"49469ab2.4ce864","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":520,"wires":[["3578d761.eff0f8"]]},{"id":"99ba1be8.18d3f8","type":"debug","z":"49469ab2.4ce864","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":480,"wires":[]},{"id":"3578d761.eff0f8","type":"exec","z":"49469ab2.4ce864","command":"sqlite3 /home/pi/db/morbidostat.sql \".dump 'io_events'\" | gzip -c > /home/pi/db/io_events.dump.gz","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Dump io_events","x":400,"y":480,"wires":[["99ba1be8.18d3f8"],["99ba1be8.18d3f8"],["99ba1be8.18d3f8"]]},{"id":"71da684.5402f98","type":"ui_button","z":"49469ab2.4ce864","name":"","group":"cf0dc4ea.c2e4d8","order":11,"width":4,"height":1,"passthru":false,"label":"Prepare exports","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":160,"y":440,"wires":[["8784e922.8dc1e8","3578d761.eff0f8"]]},{"id":"b40c1e9f.44043","type":"inject","z":"49469ab2.4ce864","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["8784e922.8dc1e8"]]},{"id":"ccaf2769.8f18d8","type":"delay","z":"6281129e.20416c","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":380,"wires":[["f18bf9d3.230de8"]]},{"id":"88a4540a.f414f8","type":"inject","z":"328cb8d0.ad53d8","name":"Clear","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["8bd609ea.614998","3a09f729.d9ec78"]]},{"id":"78fe959c.374c1c","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/od_filtered/+","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":160,"y":360,"wires":[["dc567374.98edd"]]},{"id":"23fdd061.97802","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/od_raw/+","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":150,"y":420,"wires":[["574281a8.885a4"]]},{"id":"e3167826.25a208","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO od_readings_raw (od_reading_v, morbidostat_unit, timestamp, experiment, angle)\nVALUES ({{payload}}, \"{{morbidostat_unit}}\", \"{{timestamp}}\", \"{{experiment_tag}}\", {{angle}});","output":"str","x":1120,"y":420,"wires":[["857a9a62.d6f948"]]},{"id":"857a9a62.d6f948","type":"sqlite","z":"c23d6903.71c198","mydb":"50572b33.5fd434","sqlquery":"msg.topic","sql":"","name":"Write","x":1350,"y":420,"wires":[[]]},{"id":"dc567374.98edd","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":360,"wires":[["988e47af.1903a8"]]},{"id":"b50efdd8.8f61d","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO od_readings_filtered (od_reading_v, morbidostat_unit, timestamp, experiment)\nVALUES ({{payload}}, \"{{morbidostat_unit}}\", \"{{timestamp}}\", \"{{experiment_tag}}\");","output":"str","x":1120,"y":360,"wires":[["857a9a62.d6f948"]]},{"id":"23be7496.a9defc","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/io_events","qos":"2","datatype":"json","broker":"9624a1e1.5053a","x":150,"y":480,"wires":[["1a7c7d1a.7f0183"]]},{"id":"fbac3184.e09da","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO io_events (experiment, event, volume_change_ml, morbidostat_unit, timestamp)\nVALUES (\"{{experiment_tag}}\", \"{{payload.event}}\", {{payload.volume_change}},  \"{{morbidostat_unit}}\", \"{{timestamp}}\");","output":"str","x":1080,"y":480,"wires":[["857a9a62.d6f948"]]},{"id":"988e47af.1903a8","type":"change","z":"c23d6903.71c198","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":360,"wires":[["cb5d8ee0.45922"]]},{"id":"68f6f00e.5b261","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO growth_rates (experiment, rate, initial, morbidostat_unit, timestamp)\nVALUES (\"{{experiment_tag}}\", {{payload}}, -1,  \"{{morbidostat_unit}}\", \"{{timestamp}}\");","output":"str","x":1080,"y":540,"wires":[["857a9a62.d6f948"]]},{"id":"eaaeb42.d521148","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/growth_rate","qos":"2","datatype":"json","broker":"9624a1e1.5053a","x":150,"y":540,"wires":[["56bdb83b.92bfa8"]]},{"id":"8df067ea.4edb58","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO experiments (timestamp, experiment)\nVALUES (\"{{timestamp}}\", \"{{payload}}\");","output":"str","x":1080,"y":300,"wires":[["857a9a62.d6f948"]]},{"id":"eded34f0.01a048","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":300,"wires":[["8df067ea.4edb58"]]},{"id":"2080964e.616ffa","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/log","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":130,"y":640,"wires":[["b18cbb18.241868"]]},{"id":"1ae6e2ff.ffc79d","type":"mqtt in","z":"c23d6903.71c198","name":"","topic":"morbidostat/+/error_log","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":140,"y":600,"wires":[["b18cbb18.241868"]]},{"id":"e47cc209.d41be","type":"template","z":"c23d6903.71c198","name":"SQL Insert Template","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO logs (experiment, message, morbidostat_unit, timestamp)\nVALUES (\"{{experiment_tag}}\", \"{{payload}}\",  \"{{morbidostat_unit}}\", \"{{timestamp}}\");","output":"str","x":1080,"y":600,"wires":[["857a9a62.d6f948"]]},{"id":"359b0096.52eb9","type":"change","z":"c23d6903.71c198","name":"Set global.experiment_tag from UI","rules":[{"t":"set","p":"experiment_tag","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["eded34f0.01a048"]]},{"id":"8412d91a.010a08","type":"ui_text_input","z":"c23d6903.71c198","name":"","label":"Experiment Tag","tooltip":"The path of the Notions page","group":"cf0dc4ea.c2e4d8","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":240,"wires":[["359b0096.52eb9"]]},{"id":"3cf19a53.ad4cc6","type":"function","z":"c23d6903.71c198","name":"Set morbidostat unit and angle","func":"msg.morbidostat_unit = msg.topic.split(\"/\")[1]\nmsg.angle = msg.topic.split(\"/\")[3]\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["e3167826.25a208"]]},{"id":"52e553c6.e9cd3c","type":"function","z":"c23d6903.71c198","name":"Set morbidostat unit","func":"msg.morbidostat_unit = msg.topic.split(\"/\")[1]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["fbac3184.e09da"]]},{"id":"b32fc112.c5cfd","type":"function","z":"c23d6903.71c198","name":"Set morbidostat unit","func":"msg.morbidostat_unit = msg.topic.split(\"/\")[1]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":540,"wires":[["68f6f00e.5b261"]]},{"id":"1c9fbca3.3c2833","type":"function","z":"c23d6903.71c198","name":"Set morbidostat unit","func":"msg.morbidostat_unit = msg.topic.split(\"/\")[1]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":600,"wires":[["e47cc209.d41be"]]},{"id":"fc3f42ae.ae5e7","type":"change","z":"c23d6903.71c198","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":600,"wires":[["1c9fbca3.3c2833"]]},{"id":"f8e6e246.86965","type":"change","z":"c23d6903.71c198","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":540,"wires":[["b32fc112.c5cfd"]]},{"id":"5f87b37d.4f96ac","type":"change","z":"c23d6903.71c198","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["52e553c6.e9cd3c"]]},{"id":"3fb9405.a23bbc","type":"change","z":"c23d6903.71c198","name":"Set experiment tag","rules":[{"t":"set","p":"experiment_tag","pt":"msg","to":"experiment_tag","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":420,"wires":[["3cf19a53.ad4cc6"]]},{"id":"b18cbb18.241868","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":600,"wires":[["fc3f42ae.ae5e7"]]},{"id":"56bdb83b.92bfa8","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":540,"wires":[["f8e6e246.86965"]]},{"id":"1a7c7d1a.7f0183","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":480,"wires":[["5f87b37d.4f96ac"]]},{"id":"574281a8.885a4","type":"moment","z":"c23d6903.71c198","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":420,"y":420,"wires":[["3fb9405.a23bbc"]]},{"id":"88f1ea25.623be8","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/alt_media_fraction","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":150,"y":420,"wires":[["a2459c24.1359c"]]},{"id":"a2459c24.1359c","type":"ui_chart","z":"6281129e.20416c","name":"Alt. media fraction","group":"cf0dc4ea.c2e4d8","order":13,"width":16,"height":4,"label":"Alt. media fraction","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":420,"wires":[[]]},{"id":"42863b1d.903e14","type":"delay","z":"328cb8d0.ad53d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":140,"wires":[["3a09f729.d9ec78"]]},{"id":"186d2b0d.95b2d5","type":"delay","z":"328cb8d0.ad53d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":380,"y":320,"wires":[["8bd609ea.614998"]]},{"id":"13200bb3.fb78b4","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/od_raw/90","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":130,"y":260,"wires":[["5497b757.d67078"]]},{"id":"35d6544c.14d50c","type":"ui_chart","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":4,"width":8,"height":4,"label":"Raw OD 90째 (volts)","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"13000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":260,"wires":[[]]},{"id":"cb5d8ee0.45922","type":"function","z":"c23d6903.71c198","name":"Set morbidostat unit and angle","func":"msg.morbidostat_unit = msg.topic.split(\"/\")[1]\nmsg.angle = msg.topic.split(\"/\")[3]\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["b50efdd8.8f61d"]]},{"id":"6a5ea97c.998998","type":"mqtt in","z":"6281129e.20416c","name":"","topic":"morbidostat/+/od_filtered/90","qos":"2","datatype":"auto","broker":"9624a1e1.5053a","x":140,"y":140,"wires":[["90f84c36.9f7b7"]]},{"id":"90f84c36.9f7b7","type":"delay","z":"6281129e.20416c","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":140,"wires":[["6e0ed329.e2874c"]]},{"id":"6e0ed329.e2874c","type":"ui_chart","z":"6281129e.20416c","name":"","group":"cf0dc4ea.c2e4d8","order":9,"width":8,"height":5,"label":"Implied OD 90째 (volts)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"13000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":140,"wires":[[]]},{"id":"3d145891.215768","type":"delay","z":"6281129e.20416c","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":220,"wires":[["e56e472a.05d308"]]},{"id":"5497b757.d67078","type":"delay","z":"6281129e.20416c","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":260,"wires":[["35d6544c.14d50c"]]}]